@font-face{
    font-family: myfontb;
    src: url(fonts/OldStandard-Bold.ttf);
    
}
/*For Header*/
header {
    color: burlywood;
    background-color: white;
    height: 118px;
    width: 1024px;
    text-align: center;
}
.logoH{
    width: 250px;
    height: 118px;
  }
/* Nav bar layout */
nav {
    background-color: rgb(red, rgba(0, 0, 0, 0.541), blue);
    color: whitesmoke;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: large;
}
/* Main Content */
main {
    background-image: url(images/back.jpeg);
    background-blend-mode: luminosity;
    color:darkslategray;
    font-family: myfontb;
    font-weight: lighter;
    height: 450px;
    padding-top: 30px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 130px;
    background-size: cover;
}
/* Footer layout */
footer {
    background-color: grey;
    color: black;
    height: 150px;

}
.contain {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}
/* Whole body of page*/
body {
    background-color: #2f3035;
}
h1 {
    color: darkslategray;
    text-align: center;
    font-family: myfontb;
    font-size: 35px;
}
p {
    padding-top: 1px;
    color: darkslategray;
    text-align: center;
    font-family: myfontb;
    font-size: 20px;
    font-weight: lighter;

}
form {
    border: 3px solid #ffffffd0;
    /*background-color: rgba(0, 0, 0, 0.205);*/
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 59;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    background-color: #2980b9;
  }
  
  /* Extra style for the cancel button (black) */
  .cancelbtn {
    width: auto;
    height: auto;
    background-color: black;
    font-family: myfontb;
    font-weight: lighter;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  .container1{
      background-color: white;
      padding-right: 20px;
      padding-left: 20px;
  }
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 0px;
    font-family: myfontb;
    text-decoration: none;
    color: blue;
  }

  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
a {
    font-family: myfontb;
    font-weight: lighter;
    color: white;
}

nav a {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

footer{
    background: white;
    padding-top: 20px;
    height: auto;
    color: darkslategray;
  }
  
  .footer-container{
    color: darkslategray;
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
  }
  
  .logo{
    width: 200px;
    height: 100px;
  }
  
  .social-media{
    margin: 20px 0;
  }
  
  .social-media a{
    color: darkslategray;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;
  }
  
  .social-media a:hover{
    color: #fc5c65;
  }
  
  .right-col h1{
    font-size: 26px;
    font-family: myFontb;
    font-weight: lighter;
    color: darkslategray;
    text-align: left;
  }
  
  .border{
    width: 340px;
    height: 4px;
    background: darkslategray;
  }
  
  .newsletter-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .txtb{
    flex: 1;
    padding: 18px 40px;
    font-size: 16px;
    color: #293043;
    background: #ddd;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    min-width: 260px;
  }
  
  .btn{
    padding: 18px 40px;
    font-size: 16px;
    color: #f1f1f1;
    background: black;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    margin-left: 20px;
    cursor: pointer;
    transition: opacity .3s linear;
  }
  
  .btn:hover{
    background-color: #2980b9;
  }
  

  
  @media screen and (max-width:960px) {
    .footer-container{
      max-width: 600px;
    }
    .right-col{
      width: 100%;
      margin-bottom: 60px;
      color: darkslategray;
    }
  
    .left-col{
      color: darkslategray;
      width: 100%;
      text-align: center;
    }
  }

.navigation-menu{
    display: flex;
    align-items: center;
    min-height: 50px;
  }
  
  .navigation-menu a{
    margin-left: 10px;
    color: #ddd;
    text-transform: uppercase;
    font-size: 12px;
    padding: 12px 20px;
    border-radius: 4px;
    transition: .3s linear;
  }
  
  .navigation-menu a:hover{
    /*background: #fff;*/
    background: wheat ;
    color: #2f3640;
    transform: scale(1.0);
  }
  
  .navigation-menu i{
    margin-right: 8px;
    font-size: 16px;
  }
  
 /* .home{
    color: #ff6b6b;
  }
  
  .about{
    color: #0abde3;
  }
  
  .works{
    color: #feca57;
  }
  
  .team{
    color: #5f27cd;
  }
  
  .contact{
    color: #1dd1a1;
  }
  */
  
  .menu-toggle-btn{
    float: right;
    height: 90px;
    line-height: 90px !important;
    color: #fff;
    font-size: 26px;
    display: none !important;
    cursor: pointer;
  }
  
  
  @media screen and (max-width:700px) {
    .menu-toggle-btn{
      display: block !important;
    }
  
    .navigation-menu{
      position: fixed;
      width: 100%;
      max-width: 400px;
      background: #172b4d;
      top: 90px;
      right: 0;
      display: none;
      padding: 20px 40px;
      box-sizing: border-box;
    }
  
    .navigation-menu::before{
      content: "";
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #172b4d;
      position: absolute;
      top: -10px;
      right: 10px;
    }
  
    .navigation-menu a{
      display: block;
      margin: 10px 0;
    }
  
    .navigation-menu.active{
      display: block;
    }
  }
  .d .d-btn {
    /*font-size: 12px;
    border: none;
    outline: none;
    color: white;
    /* padding: 14px 16px; */
    /*background: inherit;
    text-transform: uppercase;*/
    background-color: rgba(0, 0, 0, 0);
    color: #ddd;
    text-transform: uppercase;
    font-size: 12px;
    padding: 14px 25px;
    border-radius: 4px;
    transition: .3s linear;
    font-weight: bold;
  }
  .d:hover .d-btn {
    background:wheat;
    color: #2f3640;
    transform: scale(1.0);
    /*border-radius: 4px;*/
  }
  .d-content {
    display: none;
    position: absolute;
    width: 1024px;
    /*left: 0;*/
    z-index: 10;
    height: auto;
  }
  .d:hover .d-content {
    display: block;
    border-radius: 4px;
  }
  .column {
    float: left;
    width: 25%;
    padding: 18px;
    background: #5F5F5F;
    height: 250px;
    font-family: myfontb;
    font-weight: lighter;
  }
  .column a {
    display: block;
    float: none;
    color: #eee;
    text-align: left;
    font-weight: myfontb;
    font-weight: lighter;
  }
  .column h3 {
    color: #eee;
    padding: 10px;
  }
  .column a:hover {
    color: #fff;
    background: #373737;
  }
  .row:after {
    content: '';
    display: table;
    clear: both;
  }
  @media(max-width: 650px){
    .column {
      width: 100%;
      height: auto;
    }
  }
  h4{
    font-size: 14px;
    font-family: myfontb;
    font-weight: lighter;
    color: white;
    text-align: left;
  }
  .newscontent{
    background: transparent;
    border : 3px solid white;
    padding: 3px;
  }
  h5{
    font-size: 14px;
  }
  h6{
    font-size: 17px;
  }